{{- $personal := promptBool "Personal" -}}
{{- $gitname := promptString "Git: Name" -}}
{{- $gitemail := promptString "Git: Email" -}}
{{- $gitsigningkey := promptString "Git: GPG signing key ID" -}}
{{- $kubernetes := promptBool "Add Kubernetes" -}}
sourceVCS:
  autoCommit: true
data:
  personal: {{ $personal }}
  gitname: "{{ $gitname }}"
  gitemail: "{{ $gitemail }}"
  gitsigningkey: "{{ $gitsigningkey }}"
  kubernetes: {{ $kubernetes }}
