if [ -z $TMUX ]; then
    tmux
    exit 1
fi

HISTFILE=~/.histfile
HISTSIZE=100000
SAVEHIST=100000
bindkey -e

zstyle :compinstall filename '/home/andre/.zshrc'

fpath=($fpath ~/.zsh/completion)

autoload -U +X compinit bashcompinit
compinit
bashcompinit

{{ if (eq .chezmoi.os "darwin") }}
# not sure why this only applies to Mac
export GPG_TTY=$(tty)
{{ end }}

# neovim
alias vim=nvim

# Go stuff
go env -w GOPATH=$HOME/go
export PATH="$PATH:$(go env GOPATH)/bin"

alias cm='chezmoi'

alias ls='lsd --group-dirs=first'
alias ll='ls -1Al'

alias dul='du -ch --max-depth=1 2>/dev/null | sort -h'

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

complete -o nospace -C /usr/local/bin/vault vault
complete -o nospace -C /usr/local/bin/mc mc

source ~/powerlevel10k/powerlevel10k.zsh-theme

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

eval "$(direnv hook zsh)"

export PATH="$HOME/.poetry/bin:$PATH"

eval "$(pyenv virtualenv-init -)"

source ~/.zsh/zsh-autosuggestions/zsh-autosuggestions.zsh
source ~/.zsh/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

{{- if (.kubernetes) }}
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"
{{ end -}}

