{{- if (eq .chezmoi.os "linux") -}}
{{if (eq .chezmoi.osRelease.id "ubuntu") -}}
#!/bin/bash

set -eufo pipefail

gsettings set org.gnome.shell.extensions.dash-to-dock dock-position BOTTOM
gsettings set org.gnome.shell.extensions.dash-to-dock dock-fixed false
gsettings set org.gnome.shell.extensions.dash-to-dock autohide true
gsettings set org.gnome.shell.extensions.dash-to-dock intellihide-mode 'MAXIMIZED_WINDOWS'
# need to set this to false for Terminator and other windows where it can't figure out that it's overlapping. :/
gsettings set org.gnome.shell.extensions.dash-to-dock intellihide false

gsettings set org.gnome.shell.extensions.desktop-icons show-home false
gsettings set org.gnome.shell.extensions.desktop-icons show-trash false

{{ end }}
{{ end }}
