{{- if (and (eq .chezmoi.os "darwin") .kubernetes) -}}
#!/bin/bash

set -efuo pipefail

brew install \
	azure-cli \
	eksctl \
	helm \
	helmfile \
	kubernetes-cli \
	kind \
	kustomize \
	k9s \
	lens \
	kubebuilder \
	operator-sdk

[ -d ~/.zsh/completion/ ] || mkdir -p ~/.zsh/completion/

# add shell completion for kubectl
kubectl completion zsh > ~/.zsh/completion/_kubectl

# add shell completion for kind
$(go env GOPATH)/bin/kind completion zsh  > ~/.zsh/completion/_kind

# add shell completion for eksctl

eksctl completion zsh > ~/.zsh/completion/_eksctl

# add helm diff (required for helmfile)
# need to remove it first before install (no skip if installed option)
helm plugin uninstall diff
helm plugin install https://github.com/databus23/helm-diff

{{ end }}
