{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

formulae=(
	curl
	dockutil
	git-lfs
	gnu-units
	gpg2
	gnupg
	pinentry-mac
	go
	jq
	pkg-config
	ripgrep
	tmux
	xz
    python3
	packer
    bat
	direnv
	watch
	wget
	coreutils
	mike-engel/jwt-cli/jwt-cli
	gradle
	lsd
	neovim
)
casks=(
	docker
	google-chrome
	google-cloud-sdk
	hammerspoon
	iterm2
	macvim
	visual-studio-code
	alt-tab
	apptivate
	audacity
)

brew upgrade
brew install ${formulae[@]}
brew install --cask ${casks[@]}

echo "pinentry-program /usr/local/bin/pinentry-mac" > ~/.gnupg/gpg-agent.conf
echo "use-agent" > ~/.gnupg/gpg.conf

{{ end }}
