{{if (eq .chezmoi.osRelease.id "manjaro") -}}
#!/bin/bash

set -eufo pipefail

sed -i 's/Pale Moon.desktop/google-chrome.desktop/' ~/.config/mimeapps.list
sed -i 's/palemoon/google-chrome-stable/' ~/.i3/config
xdg-settings set default-web-browser google-chrome.desktop

{{ end }}
