{{- if (and (eq .chezmoi.os "darwin") .kubernetes) -}}
#!/bin/bash

set -efuo pipefail

brew install \
	azure-cli \
	eksctl \
	helm \
	helmfile \
	kubernetes-cli \
	minikube \
	kustomize \
	k9s \
	kubebuilder \
	operator-sdk

[ -d ~/.zsh/completion/ ] || mkdir -p ~/.zsh/completion/

# add shell completion for kubectl
kubectl completion zsh > ~/.zsh/completion/_kubectl

# install kind
GO111MODULE="on" go get sigs.k8s.io/kind@v0.9.0

# add shell completion for kind
$(go env GOPATH)/bin/kind completion zsh  > ~/.zsh/completion/_kind

# add shell completion for eksctl

eksctl completion zsh > ~/.zsh/completion/_eksctl

# add helm diff (required for helmfile)
helm plugin install https://github.com/databus23/helm-diff

{{ end }}
