{{- if .kubernetes -}}
#!/usr/bin/env zsh
set -efuo pipefail

sudo pacman -S --needed --noconfirm \
	containerd \
	docker \
	helm \
	kubectl \
	k9s \
	kustomize

yay -S --needed --noconfirm \
	helmfile \
	krew

[ -d ~/.zsh/completion/ ] || mkdir -p ~/.zsh/completion/

# install eksctl
# https://eksctl.io/introduction/#installation
curl --silent --location "https://github.com/weaveworks/eksctl/releases/latest/download/eksctl_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz" | tar xz -C /tmp
sudo mv /tmp/eksctl /usr/local/bin
eksctl completion zsh > ~/.zsh/completion/_eksctl

# install kind
go install sigs.k8s.io/kind@v0.29.0

# add shell completion for kubectl
kubectl completion zsh > ~/.zsh/completion/_kubectl

# add shell completion for kind
$(go env GOPATH)/bin/kind completion zsh  > ~/.zsh/completion/_kind

# helm diff plugin (required for helmfile)
helm plugin uninstall diff || true
helm plugin install --verify=false https://github.com/databus23/helm-diff

# krew plugins
kubectl krew install ctx
kubectl krew install ns

{{ end }}
