README.md

{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
.config/karabiner
.hammerspoon
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
.config/terminator
.startxrc
{{ end }}
