{{ if ne .chezmoi.os "darwin" -}}
{{ if (eq .chezmoi.osRelease.id "ubuntu") -}}
# Ubuntu
.chezmoiscripts/10-darwin/**
.chezmoiscripts/10-arch/**
.config/terminator
.config/karabiner
.hammerspoon
{{ if not .desktop -}}
.chezmoiscripts/10-ubuntu-desktop/**
.chezmoiexternals/linux.nerdfont.toml
{{ end -}}
{{ else if (eq .chezmoi.osRelease.id "arch") -}}
# Arch
.chezmoiscripts/10-darwin/**
.chezmoiscripts/10-ubuntu/**
.chezmoiscripts/10-ubuntu-desktop/**
.config/karabiner
.hammerspoon
{{ end -}}
{{ if (eq .chezmoi.osRelease.id "ubuntu") -}}
# Arch-only configs
.config/gtk-3.0
.config/gtk-4.0
.config/wofi
.config/chrome-flags.conf
.config/hypr/hypridle.conf
.config/hypr/hyprlock.conf
.config/wireplumber
{{ end -}}
{{ end }}
{{ if ne .chezmoi.os "linux" -}}
# MacOS
.chezmoiscripts/10-ubuntu/**
.chezmoiscripts/10-ubuntu-desktop/**
.chezmoiscripts/10-arch/**
.config/terminator
.chezmoiexternals/linux.nerdfont.toml
.config/gtk-3.0
.config/gtk-4.0
.config/wofi
.config/chrome-flags.conf
.config/hypr/hypridle.conf
.config/hypr/hyprlock.conf
.config/wireplumber
{{- end }}
