# some script calls in binds on tmux need PATH envs.  We'll need to 
# include those before we start tmux

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

# check if parent isn't a tmux session or windsurf, then start 
tmux_run() {
	parent_process=$(ps -p $PPID -o comm=)

	if [[ "$parent_process" != "windsurf" ]]; then
		if [ -z "$TMUX" ]; then
			tmux new -s home
		fi
	fi
}
tmux_run

HISTFILE=~/.histfile
HISTSIZE=100000
SAVEHIST=100000
bindkey -e

# use vi-style keyboard binding for editing commands
set -o vi

# Bind command list:
# https://zsh.sourceforge.io/Doc/Release/Zsh-Line-Editor.html#Standard-Widgets

# Bind keys in vi command mode
bindkey -M vicmd '.' insert-last-word

# Bind keys in vi insert mode
bindkey -M viins '^L' clear-screen
bindkey -M viins '^A' beginning-of-line
bindkey -M viins '^E' end-of-line
bindkey -M viins '^W' backward-kill-word
bindkey -M viins '^K' kill-line
bindkey -M viins '^P' up-history
bindkey -M viins '^N' down-history
bindkey -M viins '^U' kill-whole-line

zstyle :compinstall filename "$HOME/.zshrc"

fpath=($fpath ~/.zsh/completion)

autoload -U +X compinit bashcompinit
compinit
bashcompinit

{{ if (eq .chezmoi.os "darwin") }}
# not sure why this only applies to Mac
export GPG_TTY=$(tty)
{{ end }}

# neovim
# we'll stop ctrl-s from stopping the terminal so we can use it to save in vim
# (and we may not need to stop the terminal)
stty -ixon
alias vim=nvim

# Go stuff
go env -w GOPATH=$HOME/go
export PATH="$PATH:$(go env GOPATH)/bin"

alias cm='chezmoi'
alias ca='chezmoi apply'

alias ls='lsd --group-dirs=first'
alias l='ls -1Al'

alias dul='du -ch -d 1 2>/dev/null | sort -h'

alias k='kubectl'
alias v='vim'
alias lg='lazygit'
alias d='docker'
alias b='bat -pp'
alias m='make'
alias g='git'
alias p='python'
alias k9s='k9s --headless'

# yazi shell wrapper as suggested here:
#   https://yazi-rs.github.io/docs/quick-start
function y() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
	yazi "$@" --cwd-file="$tmp"
	IFS= read -r -d '' cwd < "$tmp"
	[ -n "$cwd" ] && [ "$cwd" != "$PWD" ] && builtin cd -- "$cwd"
	rm -f -- "$tmp"
}

# load local rc files (not from dotfiles)
if [ -f $HOME/.zshrc.local ]; then
    source $HOME/.zshrc.local
fi

complete -o nospace -C /usr/local/bin/vault vault
complete -o nospace -C /usr/local/bin/mc mc

source ~/powerlevel10k/powerlevel10k.zsh-theme

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

eval "$(direnv hook zsh)"

eval "$(pyenv virtualenv-init -)"

source ~/.zsh/zsh-autosuggestions/zsh-autosuggestions.zsh
source ~/.zsh/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

{{- if (.kubernetes) }}
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"
{{ end -}}

{{ if (eq .chezmoi.os "darwin") -}}
# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('$HOMEBREW_PREFIX/Caskroom/miniforge/base/bin/conda' 'shell.zsh' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "$HOMEBREW_PREFIX/Caskroom/miniforge/base/etc/profile.d/conda.sh" ]; then
        . "$HOMEBREW_PREFIX/Caskroom/miniforge/base/etc/profile.d/conda.sh"
    else
        export PATH="$HOMEBREW_PREFIX/Caskroom/miniforge/base/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<

# >>> mamba initialize >>>
# !! Contents within this block are managed by 'mamba shell init' !!
export MAMBA_EXE="$HOMEBREW_PREFIX/opt/micromamba/bin/mamba";
export MAMBA_ROOT_PREFIX="$HOME/mamba";
__mamba_setup="$("$MAMBA_EXE" shell hook --shell zsh --root-prefix "$MAMBA_ROOT_PREFIX" 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__mamba_setup"
else
    alias mamba="$MAMBA_EXE"  # Fallback on help from mamba activate
fi
unset __mamba_setup
# <<< mamba initialize <<<

{{ end }}

export NVM_DIR="$HOME/.nvm"
[ -s "$HOMEBREW_PREFIX/opt/nvm/nvm.sh" ] && \. "$HOMEBREW_PREFIX/opt/nvm/nvm.sh"  # This loads nvm
[ -s "$HOMEBREW_PREFIX/opt/nvm/etc/bash_completion.d/nvm" ] && \. "$HOMEBREW_PREFIX/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion

# Added by Windsurf
export PATH="/Users/andre.milton/.codeium/windsurf/bin:$PATH"
