HISTFILE=~/.histfile
HISTSIZE=100000
SAVEHIST=100000
bindkey -e

zstyle :compinstall filename "$HOME/.zshrc"

fpath=($fpath ~/.zsh/completion)

autoload -U +X compinit bashcompinit
compinit
bashcompinit

{{ if (eq .chezmoi.os "darwin") }}
# not sure why this only applies to Mac
export GPG_TTY=$(tty)
{{ end }}

# neovim
# we'll stop ctrl-s from stopping the terminal so we can use it to save in vim
# (and we may not need to stop the terminal)
stty -ixon
alias vim=nvim

# Go stuff
go env -w GOPATH=$HOME/go
export PATH="$PATH:$(go env GOPATH)/bin"

alias cm='chezmoi'

alias ls='lsd --group-dirs=first'
alias l='ls -1Al'

alias dul='du -ch -d 1 2>/dev/null | sort -h'

alias k='kubectl'
alias v='vim'
alias lg='lazygit'
alias d='docker'
alias b='bat -p'
alias m='make'
alias g='git'
alias p='python'
alias k9s='k9s --headless'

# load local rc files (not from dotfiles)
if [ -f $HOME/.zshrc.local ]; then
    source $HOME/.zshrc.local
fi

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

complete -o nospace -C /usr/local/bin/vault vault
complete -o nospace -C /usr/local/bin/mc mc

source ~/powerlevel10k/powerlevel10k.zsh-theme

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

eval "$(direnv hook zsh)"

eval "$(pyenv virtualenv-init -)"

source ~/.zsh/zsh-autosuggestions/zsh-autosuggestions.zsh
source ~/.zsh/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

{{- if (.kubernetes) }}
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"
{{ end -}}

if [ -z $TMUX ]; then
    tmux
    exit 1
fi

{{ if (eq .chezmoi.os "darwin") -}}
# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('$HOMEBREW_PREFIX/Caskroom/miniforge/base/bin/conda' 'shell.zsh' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "$HOMEBREW_PREFIX/Caskroom/miniforge/base/etc/profile.d/conda.sh" ]; then
        . "$HOMEBREW_PREFIX/Caskroom/miniforge/base/etc/profile.d/conda.sh"
    else
        export PATH="$HOMEBREW_PREFIX/Caskroom/miniforge/base/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<

# >>> mamba initialize >>>
# !! Contents within this block are managed by 'mamba shell init' !!
export MAMBA_EXE="$HOMEBREW_PREFIX/opt/micromamba/bin/mamba";
export MAMBA_ROOT_PREFIX="$HOME/mamba";
__mamba_setup="$("$MAMBA_EXE" shell hook --shell zsh --root-prefix "$MAMBA_ROOT_PREFIX" 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__mamba_setup"
else
    alias mamba="$MAMBA_EXE"  # Fallback on help from mamba activate
fi
unset __mamba_setup
# <<< mamba initialize <<<

{{ end }}

export NVM_DIR="$HOME/.nvm"
[ -s "$HOMEBREW_PREFIX/opt/nvm/nvm.sh" ] && \. "$HOMEBREW_PREFIX/opt/nvm/nvm.sh"  # This loads nvm
[ -s "$HOMEBREW_PREFIX/opt/nvm/etc/bash_completion.d/nvm" ] && \. "$HOMEBREW_PREFIX/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion


