{{ if (.personal) -}}
[user]
	name = {{ .gitname }}
	email = {{ .gitemail }}
	signingkey = {{ .gitsigningkey }}
[commit]
	gpgsign = true
[gpg]
	program = gpg
{{ else -}}
[user]
	name = {{ .gitname }}
	email = {{ .gitemail }}
[branch]
	autosetuprebase = always
[core]
	autocrlf = input
[credential]
	helper = osxkeychain
{{ end }}