[user]
	name = {{ .gitname }}
	email = {{ .gitemail }}
	signingkey = {{ .gitsigningkey }}
[commit]
	gpgsign = true
[gpg]
	program = gpg
{{ if not (.personal) -}}
[branch]
	autosetuprebase = always
{{- end }}
{{ if (eq .chezmoi.os "darwin") -}}
[credential]
	helper = osxkeychain
{{- end }}
[diff]
	tool = nvimdiff
	guitool = nvimdiff
[merge]
	tool = nvimdiff
	conflictstyle = diff3
[mergetool]
	keepBackup = false
	trustExitCode = false
	prompt = true
[difftool]
	prompt = false
[core]
	autocrlf = input
	editor = nvim
	pager = bat -p
[mergetool "nvimdiff"]
	layout = LOCAL,MERGED,REMOTE
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
