{{ if (eq .chezmoi.os "linux" "darwin") -}}
#!/bin/bash

# VSCode LSPs for HTML/CSS/JSON/ESLint
npm i -g vscode-langservers-extracted

brew install yaml-language-server
brew install python-lsp-server

npm install -g @prisma/language-server

{{ end -}}
