{{ if (eq .chezmoi.os "linux" "darwin") -}}
#!/usr/bin/env zsh

# VSCode LSPs for HTML/CSS/JSON/ESLint
sudo npm install -g vscode-langservers-extracted

# Mermaid JS cli for markdown previews
sudo npm install -g @mermaid-js/mermaid-cli

{{ if (eq .chezmoi.os "darwin") -}}
brew install yaml-language-server python-lsp-server luarocks ghostscript tectonic basictex pngpaste
{{ else }}
sudo snap install yaml-language-server
sudo apt-get install python3-pylsp
{{ end -}}

sudo npm install -g @prisma/language-server

{{ end -}}
