{{ if (eq .chezmoi.os "linux" "darwin") -}}
#!/bin/bash

[ -d ~/.pyenv ] || git clone https://github.com/pyenv/pyenv.git ~/.pyenv
[ -d ~/.pyenv/plugins/pyenv-virtualenv ] || git clone https://github.com/pyenv/pyenv-virtualenv.git ~/.pyenv/plugins/pyenv-virtualenv

# add pipx's path
pipx ensurepath

# LSPs for neovim
# linter: https://github.com/neovim/nvim-lspconfig/blob/master/lua/lspconfig/configs/ruff.lua
uv tool install ruff@latest
# the rest (like 'go to definition'): pyright.  See: https://github.com/astral-sh/ruff-lsp/issues/23
npm install -g pyright

{{ end -}}
