#!/usr/bin/env zsh
set -eufo pipefail

gsettings set org.gnome.shell.extensions.dash-to-dock dock-position BOTTOM
gsettings set org.gnome.shell.extensions.dash-to-dock dock-fixed false
gsettings set org.gnome.shell.extensions.dash-to-dock autohide true
gsettings set org.gnome.shell.extensions.dash-to-dock intellihide-mode 'MAXIMIZED_WINDOWS'
# need to set this to false for Terminator and other windows where it can't figure out that it's overlapping. :/
gsettings set org.gnome.shell.extensions.dash-to-dock intellihide false

gsettings set org.gnome.shell.extensions.tiling-assistant enable-tiling-popup "false"

gsettings set org.gnome.desktop.interface color-scheme prefer-dark

gsettings set org.gnome.desktop.peripherals.touchpad tap-to-click true 

